.App {
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e5e5f7;
    background-image:  radial-gradient(#00C781 2px, transparent 2px), radial-gradient(#00C781 2px, #e5e5f7 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
    }

.search-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 199, 129); 
}

.search-bar {
    width: 70%;
    border: none;
    padding: 10px;
}

.search-button {
    border: none;
    background-color: transparent;
    padding: 5px 5px;
    cursor: pointer; 
}

.search-button:hover {
    opacity: 0.8;
}

.search-button:active {
    transform: translateY(5px);
}

/* .recipes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */

